# Terraform local state
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ignore plan output file created by CI step
terraform/plan.txt


